<section class="w-full p-4 bg-white flex flex-col rounded-xl">
  <div class="w-full mb-4 text-center border-b-2 border-accent">
    <p>
      <b>{{ (order$ | async)?._id }}</b>
    </p>
  </div>

  <div class="w-full flex flex-wrap mb-4">
    <dl class="w-full">
      <dt class="font-bold">Pizzas:</dt>
      <dd *ngFor="let pizza of (order$ | async)?.pizzas" class="capitalize mb-4">
        - {{ pizza.pizzaId }}
        <br>
        <b>- Extra ingredients</b>
        <ng-container *ngFor="let ingredient of pizza.extraIngredients">
          <br> -- {{ ingredient.name }}
        </ng-container>
      </dd>
    </dl>

    <dl class="w-full">
      <dt class="font-bold">Sub total</dt>
      <dd class="mb-2">{{ (order$ | async)?.subTotal | currency }}</dd>

      <dt class="font-bold">Total</dt>
      <dd class="mb-2">{{ (order$ | async)?.total | currency }}</dd>
    </dl>
  </div>
</section>
