<section class="w-full p-4 bg-white flex flex-col rounded-xl">
  <div class="w-full mb-4 text-center border-b-2 border-accent">
    <p>
      <b>{{ (pizza$ | async)?.name }}</b>
    </p>
  </div>

  <div class="w-full flex flex-wrap mb-4">
    <dl class="w-6/12">
      <dt class="font-bold">Ingredients:</dt>
      <dd *ngFor="let ingredient of (pizza$ | async)?.baseIngredients" class="capitalize">
        - {{ ingredient.name }}
      </dd>
    </dl>

    <dl class="w-6/12">
      <dt class="font-bold">Cheese border:</dt>
      <dd class="mb-2">{{ (pizza$ | async)?.cheeseBorder ? 'Yes' : 'No' }}</dd>

      <dt class="font-bold">Base price:</dt>
      <dd>{{ (pizza$ | async)?.basePrice | currency }}</dd>
    </dl>
  </div>

  <div class="w-full flex justify-center">
    <div class="w-full">
      <button *ngIf="(pizza$ | async)?.isAvailable; else activate"
              (click)="disablePizza()"
              class="btn btn--danger w-full">
        Disable
      </button>

      <ng-template #activate>
        <button (click)="activatePizza()" class="btn btn--success w-full">Activate</button>
      </ng-template>
    </div>
  </div>
</section>
