.btn {
  @apply py-2 px-4 rounded-md;
}

.btn--primary {
  @apply bg-primary text-white;
}

.btn--primary-ghost {
  @apply text-primary;
}

.btn--success {
  background-color: green;
  @apply text-white;
}

.btn--danger {
  background-color: red;
  @apply text-white;
}
